<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>cn.iflyapi.ihungry.filter.XSSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>charsetEncodingFilter</filter-name>
        <filter-class>cn.iflyapi.ihungry.filter.CharsetEncodingFilter</filter-class>
        <init-param>
            <param-name>CharsetEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>charsetEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.ApplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/apply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Join</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.JoinServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Join</servlet-name>
        <url-pattern>/joins</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Stats</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.StatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Stats</servlet-name>
        <url-pattern>/stats/apply/record</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageStats</servlet-name>
        <servlet-class>cn.iflyapi.ihungry.controller.PageStatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageStats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>cn.iflyapi.ihungry.listener.NoticeDingListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>

